html, body, div, span, applet, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, u, ul, li, form, label, legend,
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    word-wrap: break-word;
}
ul, ol {
    list-style: none;
}
a {
    outline: none;
    text-decoration: none;
}
input,
textarea,
select {
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
input,
textarea {
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
}
* {
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
html,body {
    height: 100%;
}
body a {
    color: #202020;
}
body a.underline {
    text-decoration: underline;
}
body a.underline:hover {
    text-decoration: none;
}

.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
.db { display: block; }
.dib { display: inline-block; }
.dn { display: none; }
.vh { visibility: hidden; }
.mln { margin-left: 0 !important; }
.tc { text-align: center; }
.tl { text-align: left; }
.tr { text-align: right; }
.tu { text-transform: uppercase; }
.fs12 { font-size: 14px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }
.fs20 { font-size: 20px; }
.fs22 { font-size: 22px; }
.fs24 { font-size: 24px; }
.fs26 { font-size: 26px; }
.fs28 { font-size: 28px; }
.fs30 { font-size: 30px; }
.fs32 { font-size: 32px; }
.fs34 { font-size: 34px; }
.fs36 { font-size: 36px; }
.fs38 { font-size: 38px; }
.fs40 { font-size: 40px; }
.lh20 { line-height: 20px; }
.lh21 { line-height: 21px; }
.lh22 { line-height: 22px; }
.lh23 { line-height: 24px; }
.lh25 { line-height: 25px; }
.clearfix::after {
    display: block;
    content: " ";
    clear: both;
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Comfortaa-Bold.woff') format('woff'),
        url('../fonts/Comfortaa-Bold.ttf') format('truetype'),
        url('../fonts/Comfortaa-Bold.svg#Comfortaa-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa-Light';
    src: url('../fonts/Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Comfortaa-Light.woff') format('woff'),
        url('../fonts/Comfortaa-Light.ttf') format('truetype'),
        url('../fonts/Comfortaa-Light.svg#Comfortaa-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Khula-Regular';
    src: url('../fonts/Khula-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Khula-Regular.woff') format('woff'),
        url('../fonts/Khula-Regular.ttf') format('truetype'),
        url('../fonts/Khula-Regular.svg#Khula-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Khula-Bold';
    src: url('../fonts/Khula-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Khula-Bold.woff') format('woff'),
        url('../fonts/Khula-Bold.ttf')  format('truetype'),
        url('../fonts/Khula-Bold.svg#Khula-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Khula-Light';
    src: url('../fonts/Khula-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Khula-Light.woff') format('woff'),
        url('../fonts/Khula-Light.ttf')  format('truetype'),
        url('../fonts/Khula-Light.svg#Khula-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Khula-Semibold';
    src: url('../fonts/Khula-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Khula-Semibold.woff') format('woff'),
        url('../fonts/Khula-Semibold.ttf')  format('truetype'),
        url('../fonts/Khula-Semibold.svg#Khula-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ffffff;
    color: #202020;
    font-size: 100%;
    line-height: 1;
}
body,
body * {
    font-family: 'Khula-Regular', 'tahoma', 'arial', 'helvetica', sans-serif;
}
.fb, .fb *, strong, b {
    font-family: 'Khula-Bold', 'tahoma', 'arial', 'helvetica', sans-serif;
}
.fsb {
    font-family: 'Khula-Semibold', 'tahoma', 'arial', 'helvetica', sans-serif;
}
.light {
    font-family: 'Khula-Light', 'tahoma', 'arial', 'helvetica', sans-serif;
}
.comfortaa-b {
    font-family: 'Comfortaa-Bold', 'tahoma', 'arial', 'helvetica', sans-serif;
}
.comfortaa-l {
    font-family: 'Comfortaa-Light', 'tahoma', 'arial', 'helvetica', sans-serif;
}

#page {
    min-width: 910px;
}
body .page {
    margin: 0 auto;
    max-width: 1592px;
    padding: 0 15px;
}
.yel {
    color: #ffc001;
}

.btn {
    background-color: #FEC414;
    border-radius: 15px;
    color: #282828;
    display: inline-block;
    font-family: 'Khula-Semibold', tahoma, arial, verdana, sans-serif;
    height: 26px;
    line-height: 29px;
    padding: 0 12px;
}
.btn:hover {
    background-color: #E5AF0A;
}
.btn-black {
    background-color: #282828;
    border-radius: 25px;
    color: #ffc001;
    display: inline-block;
    font-family: 'Khula-Bold', tahoma, arial, verdana, sans-serif;
    font-size: 20px;
    height: 48px;
    line-height: 52px;
    padding: 0 15px;
}
.btn.see-all {
    font-family: 'Khula-Bold', tahoma, verdana, sans-serif;
    height: 30px;
    line-height: 34px;
}

/* header */
#header {
    background-color: #202020;
    height: 80px;
    line-height: 80px;
    padding: 0 32px 0 18px;
}
#header .logo {
    background: url('../imgs/logo.png') no-repeat left center;
    color: #ffffff;
    height: 80px;
    padding-left: 75px;
}
#header .login {
    margin: 27px 12px 0 0;
    line-height: normal;
}
#header .search {
    height: 28px;
    margin: 26px 45px 0 10px;
    position: relative;
    width: 26px;
}
#search-icon {
    background: url('../imgs/search.png') no-repeat;
    height: 100%;
}
#search-form {
    background-color: #202020;
    position: absolute;
    top: 0;
    left: -380px;
    height: 34px;
    width: 406px;
}
#search-form input[type="text"] {
    background: none !important;
    border: 1px solid #ffffff;
    border-radius: 17px;
    color: #ffffff;
    height: 30px;
    margin: -2px 17px 0 0;
    padding: 1px 17px;
    vertical-align: top;
    width: 327px;
}
#search-form input[type="submit"] {
    background: url('../imgs/search.png') no-repeat;
    vertical-align: top;
    height: 28px;
    width: 26px;
}
#search-icon:hover,
#search-form input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.85;
}
#header .top-menu {
    padding-top: 3px;
}
#header .top-menu li {
    margin: 0 20px;
}
#header .top-menu li a,
#header .registration a {
    color: #ffffff;
}
#header .top-menu li.dot {
    background: url('../imgs/menu-dot.png') no-repeat center center;
    height: 75px;
    margin: 0;
    width: 5px;
}
#header .top-menu li a:hover,
#header .top-menu li.active a {
    color: #FEC414;
}

/* home */
#home-top {
    background: url('../imgs/main-top.jpg') no-repeat;
    background-size: cover;
    height: 195px;
    position: relative;
}
#home-top .overlay {
    background: url('../imgs/overlay.png');
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
#home-top .titles {
    color: #ffffff;
    margin: 64px auto 0 auto;
    max-width: 658px;
}
#home-top h1 {
    margin-bottom: 15px;
}
#home-main {
    background: #F0F0F0 url('../imgs/main-bg-left.png') no-repeat 22px center;
    height: 550px;
    margin-bottom: 84px;
    position: relative;
}
#home-main .dot-bg {
    background: url('../imgs/dot-bg.png');
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
#home-main .bg-right {
    background: url('../imgs/main-bg-right.png') no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 200px;
}
#home-main .page {
    height: 100%;
}
#home-main .bg-coms {
    background: url('../imgs/main-bg-ads.png') no-repeat left center;
    background-size: contain;
    height: 100%;
    width: 769px;
}
#home-main .info-box {
    padding: 68px 0 0 879px;
}
#home-main h2 {
    margin-bottom: 20px;
}
#home-main .sub-title {
    margin-bottom: 23px;
}
#home-main h3 {
    margin-bottom: 26px;
}
#home-main .info {
    background: url('../imgs/mark-black.png') no-repeat;
    min-height: 15px;
    line-height: 19px;
    margin-bottom: 19px;
    padding-left: 40px;
}
#home-main .btn-box {
    margin: 35px 0 24px;
}
#home-main .social-title {
    height: 39px;
    line-height: 42px;
}
.social {
    background-repeat: no-repeat;
    background-position: 0 -38px;
    border-radius: 100%;
    height: 38px;
    margin-left: 12px;
    width: 38px;
}
.social.facebook {
    background-image: url('../imgs/fb.png');
}
.social.twitter {
    background-image: url('../imgs/twitter.png');
}
.social.google {
    background-image: url('../imgs/google.png');
}
.social.youtube {
    background-image: url('../imgs/youtube.png');
}
.social.instagram {
    background-image: url('../imgs/instagram.png');
}
.social.pinterest {
    background-image: url('../imgs/pinterest.png');
}

/* carousel */
.car-block h3 {
    margin-bottom: 5px;
}
.car-block p {
    margin-bottom: 12px;
}
.car-box {
    position: relative;
}
.car-box .line {
    background-color: #FFC001;
    height: 61px;
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
}
.car-box .page {
    position: relative;
}
.car-box .see-all {
    position: absolute;
    top: -44px;
    right: 95px;
}

#features-ads {
    margin-bottom: 70px;
}
#top-ads {
    margin-bottom: 39px;
}
#top-brands,
#home-gov1 {
    margin-bottom: 37px;
}
#home-gov1 .top-text {
    color: #777777;
    margin-bottom: 10px;
}
#top-rated-agencies {
    margin-bottom: 77px;
}
#home-gov2 {
    margin-bottom: 42px;
}

/* item */
.item {
    background-color: #ffffff;
    margin: 0 auto;
}
.item .item-box {
    background-color: #ffffff;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    padding: 8px;
    width: 150px;
}
.car-box .item {
    width: 168px;
}
.car-box .item-box {
    margin: 0 auto;
}
#main-left .item {
    display: inline-block;
    margin: 0 10px 10px 0;
}
#main-left .search-box {
    margin-bottom: 10px;
}
#main-left .search-box h3 {
    margin-bottom: 7px;
}
.item .img {
    height: 150px;
    margin-bottom: 8px;
    position: relative;
}
.item .rating {
    background: url('../imgs/star.png?v=5') no-repeat;
    color: #ffffff;
    height: 23px;
    line-height: 25px;
    padding-left: 28px;
    position: absolute;
    top: 6px;
    right: 7px;
    text-shadow: 0 0 2px #111111;
}
.item .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
}
.item .bottom {
    color: #474747;
    margin-top: 15px;
}
.item .bottom span {
    background-repeat: no-repeat;
    height: 16px;
    line-height: 18px;
}
.item .views-count {
    background-image: url('../imgs/eye.png');
    padding-left: 28px;
}
.item .comment {
    background-image: url('../imgs/comment.png');
    padding-left: 26px;
}

/* latest news */
#news-box {
    background-color: #EEEEEE;
    padding: 70px 0;
}
#news-box .title-box {
    height: 60px;
}
#news-box .news-see-all {
    padding-right: 8%;
}
#news-box .news-left {
    padding-right: 320px;
}
#news-box .news-right {
    padding-left: 8px;
    margin-top: 60px;
    width: 312px;
}
#news-box .news {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 32px;
    padding-right: 3%;
    vertical-align: top;
    width: 33%;
}
#news-box .img {
    margin-bottom: 16px;
}
#news-box .date {
    color: #828282;
    margin-bottom: 18px;
}
#news-box h3 {
    margin-bottom: 14px;
}

/* footer */
#footer {
    border-top: 5px solid #FFC411;
}
#footer .footer-main {
    background: #202020 url('../imgs/footer-dot-bg.png');
    padding: 80px 0 55px;
}
#footer .footer-right {
    width: 442px;
}
#footer .menu {
    padding-right: 480px;
}
#footer .menu-col {
    display: inline-block;
    margin-bottom: 25px;
    padding-right: 14%;
    vertical-align: top;
}
#footer .menu-col.last {
    padding-right: 0;
}
#footer .menu li {
    margin-bottom: 30px;
}
#footer .menu a {
    color: #ffffff;
}
#footer .menu a:hover {
    color: #FFC001;

}
#footer .subscribe {
    margin-bottom: 7px;
}
#footer .subscribe h3 {
    color: #ffffff;
    margin-bottom: 15px;
}
#subscribe-form input {
    height: 50px;
    line-height: 53px;
    vertical-align: top;
}
#subscribe-form input[type="text"] {
    border-radius: 25px 0 0 25px;
    padding: 0 29px;
    width: 252px;
}
#subscribe-form input[type="submit"] {
    background-color: #FFC001;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    padding: 0 25px;
}
#subscribe-form input[type="submit"]:hover {
    background-color: #E5AF0A;
}
#subscribe-form.sending input[type="submit"] {
    background-color: #A9A9A9;
    color: #7f7f7f;
    cursor: default;
}
#subscribe-form .info {
    height: 20px;
    margin-top: 8px;
    visibility: hidden;
}
#subscribe-form .info.visible {
    visibility: visible;
}
#subscribe-form .info.success {
    color: #FFC001;
}
#subscribe-form .info.error {
    color: #ff0000;
}
#footer .social.facebook {
    margin-left: 0;
}
#footer .footer-bottom {
    background-color: #161616;
    height: 43px;
    padding-top: 22px;
}
#footer .footer-bottom,
#footer .footer-bottom a {
    color: #808080;
}
#footer .privacy {
    margin-left: 40px;
}
#footer .social {
    background-position: 0 0;
}

/* account */
#account {
    padding: 48px 0 85px 0;
}
#account h1 {
    margin-bottom: 55px;
}
#account .form-box {
    margin: 0 auto 9px auto;
    width: 534px;
}
#account .select-box {
    height: 56px;
    position: relative;
    width: 100%;
}
#account .select-box .select-title {
    background-color: #F0F0F0;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    height: 54px;
    line-height: 60px;
    padding: 0 62px 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#account .select-box .select-arrow {
    background: url('../imgs/arrow-down.png') no-repeat center center;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 56px;
    width: 62px;
}
#account .select-box select {
    background: #F0F0F0;
    cursor: pointer;
    font-size: 18px;
    padding-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 56px;
    width: 100%;
}
#account input[type="text"],
#account input[type="password"] {
    background-color: #F0F0F0;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    box-sizing: border-box;
    height: 54px;
    line-height: 61px;
    padding: 0 62px 0 20px;
    width: 100%;
}
#account .account-buttons {
    margin-top: 25px;
}
#account input[type="submit"] {
    background-color: #FFC001;
    border-radius: 30px;
    cursor: pointer;
    height: 56px;
    line-height: 60px;
    padding: 0 33px;
}
#account input[type="submit"]:hover {
    background-color: #E5AF0A;
}
#account .sending input[type="submit"] {
    background-color: #A9A9A9;
    color: #7f7f7f;
    cursor: default;
}
#account .sign-in-link {
    line-height: 59px;
}
.has-error input,
.has-error textarea,
.has-error .select-title {
    border-color: #ff0000 !important;
}
.form-error {
    color: #ff0000;
    margin-top: 5px;
}

/* main pages */
#main-inner {
    padding: 39px 0 70px;
}
#main-right {
    width: 240px;
}
#main-right .right-com {
    margin-bottom: 32px;
}
#main-right .fb-like-box {
    margin-bottom: 42px;
}
#top-news .news {
    margin-bottom: 16px;
}
#top-news h3 {
    margin-bottom: 8px;
}
#top-news .date {
    color: #828282;
    margin: 13px 0 9px;
}
#top-news h4 {
    margin-bottom: 10px;
}
#top-news .news-1 {
    border-top: 1px solid #D2D2D2;
    padding-top: 20px;
}
#top-news .btn {
    margin-top: 14px;
}
#main-left {
    width: 80%;
}
#main-left .cover {
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #FEC414;
    height: 319px;
}
#main-left .empty-cover {
    background-color: #EEEEEE;
    border: 1px solid #D3D3D3;
    height: 319px;
    position: relative;
}
#main-left .empty-cover .img-box {
    position: absolute;
    left: 50%;
    margin-left: -84px;
    top: 100px;
    width: 168px;
}
#main-left .empty-cover .img-box p {
    color: #b2b2b2;
    margin-top: 17px;
}
#main-left .empty-cover .dot {
    background: url('../imgs/dot-bg.png');
    height: 100%;
    position: absolute;
    width: 100%;
}
#main-left .logo-box {
    margin: -70px 0 0 12px;
    position: relative;
}
#main-left .logo {
    background-color: #ffffff;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    height: 150px;
    padding: 8px;
    width: 150px;
}
#main-left .main-title {
    margin: 18px 8% 0 18px;
    width: 29%;
}
#main-left .main-title h1 {
    margin-bottom: 11px;
}
#main-left .main-title p {
    line-height: 17px;
}
#main-left .phone-box {
    margin: 18px 8% 0 0;
}
#main-left .contact-info {
    background-repeat: no-repeat;
    background-position: left center;
    height: 27px;
    margin-bottom: 23px;
    line-height: 32px;
    padding-left: 37px;
}
#main-left .phone {
    background-image: url('../imgs/phone.png');
}
#main-left .link {
    background-image: url('../imgs/link.png');
}
#main-left .address {
    background-image: url('../imgs/address.png');
}
#main-left .email {
    background-image: url('../imgs/email.png');
}
#main-left .social-pages {
    margin-top: 18px;
    line-height: 25px;
}
#main-left .social-pages p {
    margin-bottom: 7px;
    padding-left: 8px;
}
#main-left .social-pages ul li {
    display: inline-block;
    margin-right: 5px;
}
#main-left .social-pages ul li:last-child {
    margin-right: 0;
}
#main-left .social-pages ul li a {
    background-repeat: no-repeat;
    background-position: center 0;
    height: 22px;
    vertical-align: top;
    width: 27px;
}
#main-left .social-pages ul li a:hover {
    background-position: center -22px;
}
#main-left .social-pages ul li a.facebook {
    background-image: url('../imgs/s-fb.png');
}
#main-left .social-pages ul li a.twitter {
    background-image: url('../imgs/s-twitter.png');
}
#main-left .social-pages ul li a.google {
    background-image: url('../imgs/s-google.png');
}
#main-left .social-pages ul li a.youtube {
    background-image: url('../imgs/s-youtube.png');
}
#main-left .social-pages ul li a.linkedin {
    background-image: url('../imgs/s-linkedin.png');
}
#main-left .social-pages ul li a.vimeo {
    background-image: url('../imgs/s-vimeo.png');
}
#main-left .menu {
    margin: 35px 0 45px;
}
#main-left .menu li {
    display: inline-block;
    background-color: #EEEEEE;
    border: 1px solid #D3D3D3;
    height: 42px;
    line-height: 47px;
    margin: 0 0 5px -1px;
    vertical-align: top;
}
#main-left .menu li.first {
    border-radius: 3px 0 0 3px;
}
#main-left .menu li.last {
    border-radius: 0 3px 3px 0;
}
#main-left .menu li:hover,
#main-left .menu li.active {
    background-color: #ffffff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 0;
}
#main-left .menu li:hover a,
#main-left .menu li.active a {
    border-top: 4px solid #FFC001;
}
#main-left .menu li a {
    border-top: 4px solid transparent;
    display: block;
    height: 100%;
    padding: 0 30px;
    margin-top: -4px;
    min-width: 55px;
    text-align: center;
}
#awards {
    background: url('../imgs/award-bg.png') no-repeat center 60px;
    min-height: 375px;
}
#awards .award {
    border-top: 1px solid #D3D3D3;
    display: inline-block;
    padding: 25px 0 22px;
    width: 45%;
}
#awards .award-right {
    margin-left: 10%;
}
#awards .award-1,
#awards .award-2 {
    border-top: none;
    padding-top: 0;
}
#awards .year {
    margin-right: 4%;
    width: 24%;
}
#awards .info {
    width: 72%;
}
#awards .info-row {
    margin-bottom: 18px;
}
#awards .title {
    margin-right: 4%;
    width: 60%;
}
#awards .category {
    width: 36%;
}
#vacancies .vacancy {
    border-top: 1px solid #787878;
    padding: 30px 0;
}
#vacancies .vacancy-0 {
    border-top: none;
    padding-top: 0;
}
#vacancies h3 {
    margin-bottom: 24px;
}
#vacancies .left {
    margin-right: 4%;
    width: 77%;
}
#vacancies .show-more {
    background: url('../imgs/arrow-right-b.png') no-repeat 105px center;
    border: 1px solid #787878;
    border-radius: 15px;
    height: 28px;
    line-height: 31px;
    padding: 0 35px 0 15px;
    min-width: 82px;
}
#vacancies .show-more:hover,
#vacancies .show-more.active {
    background-color: #FFC001;
    border-color: #FFC001;
}
#vacancies .show-more.active {
    background: #FFC001 url('../imgs/arrow-down-b.png') no-repeat 100px center;
}
#main-left #news-box {
    background: none;
    padding: 0;
}
#branches .right {
    width: 63%;
}
#branches #map {
    background-color: #F2F2F2;
    height: 465px;
    width: 100%;
}
#branches .left {
    margin-right: 4%;
    width: 33%;
}
#branches .branch {
    margin-bottom: 60px;
}
#branches h3 {
    margin-bottom: 21px;
}
#branches .contact-info {
    margin-bottom: 37px;
}
.html {
    font-size: 18px;
}
.html h1,.html h2,.html h3 {
    font-family: 'Khula-Semibold', tahoma, verdana, sans-serif;
}
.html h1 {
    font-size: 36px;
    margin-bottom: 30px;
}
.html h2 {
    font-size: 30px;
    margin-bottom: 27px;
}
.html h3 {
    font-size: 24px;
    margin-bottom: 25px;
}
.html ul {
    margin: 25px 0;
}
.html ul li {
    background: url('../imgs/list-dot.png') no-repeat 0 3px;
    font-size: 18px;
    min-height: 10px;
    padding-left: 24px;
}
.html p {
    margin-bottom: 25px;
    line-height: 22px;
}
.html a {
    text-decoration: underline;
}
.html a:hover {
    text-decoration: none;
}
.html strong, .html b {
    font-family: 'Khula-Bold', tahoma, verdana, sans-serif;
}
.html em, .html i {
    font-style: italic;
}
#contact-left {
    margin-right: 3%;
    width: 43%;
}
#contact-left h1 {
    margin-bottom: 29px;
}
#contact-right {
    width: 54%;
}
#contact-right #map {
    background-color: #E5E3DF;
    height: 505px;
}
#contact-form .form-box {
    margin-bottom: 12px;
}
#contact-form input[type="text"],
#contact-form textarea {
    background-color: #F0F0F0;
    box-sizing: border-box;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    font-size: 18px;
    width: 100%;
}
#contact-form input[type="text"] {
    height: 56px;
    padding: 0 18px;
}
#contact-form textarea {
    height: 168px;
    padding: 10px 18px;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    background-color: #ffffff !important;
}
#contact-form input[type="submit"] {
    background-color: #FFC001;
    border-radius: 30px;
    cursor: pointer;
    height: 56px;
    line-height: 60px;
    margin-top: 12px;
    padding: 0 32px;
}
#contact-form input[type="submit"]:hover {
    background-color: #E5AF0A;
}
#contact-form.sending input[type="submit"] {
    background-color: #A9A9A9;
    color: #7f7f7f;
    cursor: default;
}
#paging {
    margin-top: 18px;
}
#paging li {
    border-radius: 30px;
    display: inline-block;
    height: 30px;
    line-height: 34px;
    margin: 0 10px;
    min-width: 20px;
    padding: 0 5px;
    text-align: center;
    vertical-align: top;
}
#paging .prev {
    margin-left: 0;
    padding-left: 0;
}
#paging .next {
    margin-right: 0;
    padding-right: 0;
}
#paging .prev a,
#paging .next a {
    border-radius: 30px;
    height: 30px;
    width: 30px;
}
#paging .prev a {
    background: #FFC001 url('../imgs/paging-left.png') no-repeat 10px 8px;
}
#paging .next a {
    background: #FFC001 url('../imgs/paging-right.png') no-repeat 11px 8px;
}
#paging li.active {
    background-color: #FFC001;
}
#paging li a {
    display: block;
}
#paging li a:hover {
    opacity: 0.8;
}
#paging li.active a,
#paging li.disabled a {
    cursor: default;
    opacity: 1;
}
#paging li.disabled a {
    background-color: #A9A9A9;
}
#news-inner h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
#news-inner .date {
    color: #828282;
    font-size: 20px;
    margin-bottom: 40px;
}
#news-inner .news-img {
    margin: 0 0 20px 30px;
}
#rel-news .rel-title {
    margin: 50px 0 23px;
}
#team h1 {
    margin-bottom: 35px;
}
#team .team {
    margin: 0 1% 2%;
    vertical-align: top;
    width: 182px;
}
#team .team-img {
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    margin-bottom: 16px;
    padding: 7px;
    width: 166px;
}
#team .team-title {
    margin-bottom: 10px;
}
#filter {
    margin-bottom: 41px;
}
#filter .first-filter {
    vertical-align: top;
}
#filter .filter-icon {
    background: #EEEEEE url('../imgs/filter.png') no-repeat 10px center;
    border: 1px solid #D3D3D3;
    border-right: none;
    border-radius: 3px 0 0 3px;
    color: #888888;
    height: 42px;
    line-height: 45px;
    padding: 0 0 0 38px;
    vertical-align: top;
}
#filter .select-box {
    display: inline-block;
    height: 44px;
    margin: 0 0 3px -1px;
    position: relative;
    vertical-align: top;
}
#filter .select-box .select-title {
    background-color: #EEEEEE;
    border: 1px solid #D3D3D3;
    font-family: 'Khula-Semibold', tahoma, verdana, sans-serif;
    height: 42px;
    line-height: 45px;
    padding: 0 50px 0 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
#filter .select-box .select-arrow {
    background: url('../imgs/filter-arrow.png') no-repeat left center;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 45px;
}
#filter .select-box select {
    background: #F0F0F0;
    font-family: 'Khula-Semibold', tahoma, verdana, sans-serif;
    cursor: pointer;
    font-size: 16px;
    padding-left: 5px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 44px;
    width: 100%;
}
#filter .first .select-title {
    border-left: none;
}
#main-right .right-top-ads {
    background-color: #FFC001;
    margin-bottom: 55px;
    padding: 34px 0 21px;
}
#main-right .right-top-ads h3 {
    margin-bottom: 4px;
}
#main-right .right-top-ads .item {
    background-color: #FFC001;
    margin: 0 auto 11px;
    width: 168px;
}
#com-left {
    margin-bottom: 64px;
    width: 54%;
}
#com-left .print-image {
    height: 100%;
    width: 100%;
}
#com-left .com-media {
    margin-bottom: 15px;
}
#com-left .prev,
#com-left .next {
    background-color: #202020;
    height: 108px;
    width: 48.5%;
}
#com-left .prev-next .arrow {
    height: 100%;
    width: 47px;
}
#com-left .prev .arrow {
    background: url('../imgs/prev-ad.png') no-repeat center center;
}
#com-left .next .arrow {
    background: url('../imgs/next-ad.png') no-repeat center center;
}
#com-left .prev-next .img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 32%;
}
#com-left .prev-next .w-title {
    color: #ffffff;
    box-sizing: border-box;
    height: 100%;
}
#com-left .prev-next .w-title-inner {
    padding-top: 35px;
    width: 100%;
}
#com-left .prev-next .w-title-inner span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#com-left .prev .w-title {
    padding-left: 47px;
    text-align: right;
    width: 65%;
}
#com-left .next .w-title {
    padding-left: 34%;
    width: 82%;
}
#com-left .prev-next .w-top {
   margin-bottom: 7px;
}
#com-right {
    margin-bottom: 64px;
    width: 43%;
}
#com-right h1 {
    margin-bottom: 14px;
}
#com-right .view-comment {
    border-bottom: 1px solid #BBBBBB;
    padding-bottom: 24px;
}
#com-right .view-comment div {
    color: #474747;
    min-height: 24px;
    line-height: 28px;
}
#com-right .views-count {
    background: url('../imgs/eye-big.png') no-repeat;
    padding-left: 45px;
    margin-right: 40px;
}
#com-right .comment {
    background: url('../imgs/comment-big.png') no-repeat;
    padding-left: 41px;
}
#com-right .rate-box {
    border-bottom: 1px solid #BBBBBB;
    padding: 11px 0 9px;
}
#com-right .rating {
    background: url('../imgs/star-big.png') no-repeat;
    height: 31px;
    line-height: 38px;
    margin-right: 8px;
    padding-left: 40px;
}
#com-right .stars-box {
    margin-top: 3px;
    vertical-align: top;
    width: 250px;
    height: 23px;
}
#com-right .stars,
#com-right .rated {
    height: 100%;
    width: 100%;
}
#com-right .rated {
    background: url('../imgs/star.png?v=5') repeat-x 0 -23px;
    cursor: pointer;
}
#com-right .rated div {
    background: #ffffff url('../imgs/star.png?v=5') repeat-x;
    height: 100%;
}
#com-right .rate {
    background: url('../imgs/star.png?v=5') no-repeat 0 -23px;
    height: 23px;
    width: 25px;
}
#com-right .rate.active {
    background-position: 0 0;
}
#com-right .rate-box.rated-box .rated {
    cursor: default;
}
#com-right .media-type {
    border-bottom: 1px solid #BBBBBB;
    padding: 14px 0 9px;
}
#com-right .media-type .dib {
    vertical-align: top;
    line-height: 40px;
}
#com-right .media-type a {
    height: 35px;
}
#com-right .media-type .mt-title {
    margin-right: 12px;
}
#com-right .brand-agency {
    margin-right: 30px;
}
#com-right .brand-agency p {
    margin-bottom: 6px;
}
#com-right .brand-agency a {
    border: 1px solid #dedede;
}
#com-right .brand-agency a,
#com-right .brand-agency img {
    border-radius: 2px;
}
#com-right .brand {
    margin-right: 23px;
}
#com-right .info-box {
    border-bottom: 1px solid #BBBBBB;
    margin-bottom: 29px;
    padding: 26px 0 31px;
}
#com-right .country-ind {
    border-left: 1px solid #bbbbbb;
    height: 71px;
    margin-top: 30px;
    padding: 10px 0 0 33px;
    vertical-align: top;
}
#com-right .country {
    margin-bottom: 25px;
}
#com-right .description {
    margin-bottom: 28px;
}
#com-right .credits {
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 32px;
    margin-bottom: 25px;
}
#com-right .credits h2 {
    margin-bottom: 27px;
}
#credits-box {
    max-height: 350px;
    overflow: hidden;
}
#credits-box .credit {
    margin-bottom: 30px;
}
#credits-box .position {
    margin-bottom: 8px;
}
#com-right .tags .tag {
    background-color: #FFC001;
    border-radius: 5px;
    height: 32px;
    line-height: 36px;
    padding: 0 8px;
    margin-bottom: 5px;
}
#brand-ads {
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 44px;
    padding-bottom: 24px;
}
#brand-ads h3,
#similar-ads h3 {
    margin-bottom: 20px;
}
#pod-box {
    margin-top: 25px;
}
#comment-box {
    margin-top: 30px;
}
#error {
    margin: 100px 0;
}
#error h1 {
    margin-bottom: 20px;
}
