html, body, div, span, applet, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, u, ul, li, form, label, legend,
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
* {
    word-wrap: break-word;
}
ul, ol {
    list-style: none;
}
a {
    outline: none;
    text-decoration: none;
}
input,
textarea,
select {
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
input,
textarea {
    appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
}
* {
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
html,body {
    height: 100%;
}
body a {
    color: #ffffff;
}
body a.underline {
    text-decoration: underline;
}
body a.underline:hover {
    text-decoration: none;
}

.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
.db { display: block; }
.dib { display: inline-block; }
.dn { display: none; }
.mln { margin-left: 0; }
.tc { text-align: center; }
.tl { text-align: left; }
.tr { text-align: right; }
.tu { text-transform: uppercase; }
.clearfix:after { clear: both; }
.fs12 { font-size: 14px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }
.fs20 { font-size: 20px; }
.fs22 { font-size: 22px; }
.fs24 { font-size: 24px; }

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Comfortaa-Bold.woff') format('woff'),
        url('../fonts/Comfortaa-Bold.ttf') format('truetype'),
        url('../fonts/Comfortaa-Bold.svg#Comfortaa-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Comfortaa-Light';
    src: url('../fonts/Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Comfortaa-Light.woff') format('woff'),
        url('../fonts/Comfortaa-Light.ttf') format('truetype'),
        url('../fonts/Comfortaa-Light.svg#Comfortaa-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Khula-Regular';
    src: url('../fonts/Khula-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Khula-Regular.woff') format('woff'),
        url('../fonts/Khula-Regular.ttf') format('truetype'),
        url('../fonts/Khula-Regular.svg#Khula-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Khula-Bold';
    src: url('../fonts/Khula-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Khula-Bold.woff') format('woff'),
        url('../fonts/Khula-Bold.ttf')  format('truetype'),
        url('../fonts/Khula-Bold.svg#Khula-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Khula-Light';
    src: url('../fonts/Khula-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Khula-Light.woff') format('woff'),
        url('../fonts/Khula-Light.ttf')  format('truetype'),
        url('../fonts/Khula-Light.svg#Khula-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Khula-Semibold';
    src: url('../fonts/Khula-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Khula-Semibold.woff') format('woff'),
        url('../fonts/Khula-Semibold.ttf')  format('truetype'),
        url('../fonts/Khula-Semibold.svg#Khula-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ffffff;
    font-size: 100%;
    line-height: 1;
}
body,
body * {
    font-family: 'Khula-Regular', 'tahoma', 'arial', 'helvetica', sans-serif;
}
.fb, .fb *, strong, b {
    font-family: 'Khula-Bold', 'tahoma', 'arial', 'helvetica', sans-serif;
}
.fsb {
    font-family: 'Khula-Semibold', 'tahoma', 'arial', 'helvetica', sans-serif;
}
.light {
    font-family: 'Khula-Light', 'tahoma', 'arial', 'helvetica', sans-serif;
}
.comfortaa-b {
    font-family: 'Comfortaa-Bold', 'tahoma', 'arial', 'helvetica', sans-serif;
}
.comfortaa-l {
    font-family: 'Comfortaa-Light', 'tahoma', 'arial', 'helvetica', sans-serif;
}

body .page {
    margin: 0 auto;
    max-width: 1592px;
    padding: 0 15px;
}
.yel {
    color: #ffc001;
}

.btn {
    background-color: #FEC414;
    border-radius: 15px;
    color: #282828;
    display: inline-block;
    font-family: 'Khula-Semibold', tahoma, arial, verdana, sans-serif;
    height: 26px;
    line-height: 29px;
    padding: 0 10px;
}
.btn:hover {
    background-color: #E5AF0A;
}

/* header */
#header {
    background-color: #202020;
    height: 80px;
    line-height: 80px;
    padding: 0 32px 0 18px;
}
#header .logo {
    background: url('../imgs/logo.png') no-repeat left center;
    height: 80px;
    padding-left: 75px;
}
#header .login {
    margin: 27px 12px 0 0;
    line-height: normal;
}
#header .search {
    background: url('../imgs/search.png') no-repeat;
    height: 28px;
    margin: 26px 45px 0 10px;
    width: 26px;
}
#header .search:hover {
    opacity: 0.85;
}
#header .search a {
    height: 100%;
}
#header .top-menu {
    padding-top: 3px;
}
#header .top-menu li {
    margin: 0 20px;
}
#header .top-menu li.dot {
    background: url('../imgs/menu-dot.png') no-repeat center center;
    height: 75px;
    margin: 0;
    width: 5px;
}
#header .top-menu li a:hover,
#header .top-menu li.active a {
    color: #FEC414;
}

/* home */
#home-top {
    background: url('../imgs/main-top.jpg') no-repeat;
    background-size: cover;
    height: 195px;
    position: relative;
}
#home-top .overlay {
    background: url('../imgs/overlay.png');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}