@media screen and (max-width: 1650px) {
    #home-main {
        background-size: 820px;
    }
    #home-main .bg-right {
        width: 180px;
    }
}
@media screen and (max-width: 1600px) {
    #news-box .news-see-all {
        padding-right: 6%;
    }
    #main-left .menu li a {
        padding:  0 27px;
    }
}
@media screen and (max-width: 1400px) {
    #home-main {
        background-size: 780px;
    }
    #home-main .bg-right {
        width: 162px;
    }
    #home-main .info-box {
        padding-left: 829px;
    }
    #news-box .news-see-all {
        padding-right: 4%;
    }
    #main-left {
        width: 77%;
    }
    #main-left .main-title,
    #main-left .phone-box {
        margin-right: 7%;
    }
    #main-left .menu li a {
        padding:  0 25px;
    }
    #awards .award {
        width: 47%;
    }
    #awards .award-right {
        margin-left: 6%;
    }
    #awards .year {
        width: 18%;
    }
    #awards .info {
        width: 78%;
    }
    #footer .menu-col {
        padding-right: 12%;
    }
}
@media screen and (max-width: 1300px) {
    #home-main {
        background-size: 700px;
    }
    #home-main .bg-right {
        width: 140px;
    }
    #home-main .bg-ads {
        background-size: 700px;
        width: 700px;
    }
    #home-main .info-box {
        padding-left: 780px;
    }
    #main-left {
        width: 76%;
    }
    #main-left .main-title,
    #main-left .phone-box {
        margin-right: 4%;
    }
    #news-inner .news-img {
        float: none;
        margin-left: 0;
    }
    #footer .menu-col {
        padding-right: 10%;
    }
}
@media screen and (max-width: 1270px) {
    #home-main .info-box {
        padding-left: 750px;
    }
    #main-left {
        width: 75%;
    }
}
@media screen and (max-width: 1210px) {
    #home-main {
        background-size: 600px;
    }
    #home-main .bg-right {
        width: 120px;
    }
    #home-main .bg-ads {
        background-size: 600px;
        width: 600px;
    }
    #home-main .info-box {
        padding-left: 680px;
    }
    #ad-left,
    #ad-right {
        float: none;
        width: 100%;
    }
}
@media screen and (max-width: 1150px) {
    #home-main .info-box {
        padding-left: 650px;
    }
    #awards .year {
        width: 25%;
    }
    #awards .info {
        width: 71%;
    }
    #awards .info p {
        width: 100%;
    }
    #main-left {
        width: 73%;
    }
}
@media screen and (max-width: 1100px) {
    #home-main {
        background-size: 500px;
    }
    #home-main .bg-right {
        display: none;
    }
    #home-main .bg-ads {
        background-size: 500px;
        width: 500px;
    }
    #home-main .info-box {
        padding-left: 580px;
    }
    #news-box .news {
        width: 50%;
    }
    #main-left {
        width: 71%;
    }
    #vacancies .left {
        margin: 0 0 20px;
        width: 100%;
    }
}
@media screen and (max-width: 1050px) {
    #home-main .info-box {
        padding-left: 535px;
    }
}
@media screen and (max-width: 1000px) {
    #home-main {
        background-size: 700px;
    }
    #home-main .bg-ads {
        display: none;
    }
    #home-main .info-box {
        padding-left: 100px;
    }
    #main-left {
        width: 69%;
    }
    #contact-left,
    #contact-right {
        margin-right: 0;
        width: 100%;
    }
}
@media screen and (max-width: 950px) {
    #footer .footer-right {
        float: none;
        margin: 0 auto 55px auto;
        width: auto;
    }
    #footer .menu {
        padding-right: 0;
        margin: 0 auto;
    }
    #main-left {
        width: 67%;
    }
    #awards .award {
        width: 100%;
        margin-left: 0;
    }
    #awards .award-2 {
        border-top: 1px solid #D3D3D3;
        padding-top: 25px;
    }
    #awards .info p.title {
        width: 60%;
    }
    #awards .info p.category {
        width: 36%;
    }
}
@media screen and (max-width: 850px) {
    #news-box .news-right {
        float: none;
        margin: 0 auto 45px auto;
        padding-left: 0;
        width: auto;
    }
    #news-box .news-left {
        padding-right: 0;
    }
    #main-left {
        width: 65%;
    }
}
@media screen and (max-width: 800px) {
    .car-block p {
        margin-bottom: 55px;
    }
    .car-box .see-all {
        left: 15px;
        right: auto;
    }
    .items-car .owl-buttons .owl-prev {
        left: 80px;
        right: auto;
    }
    .items-car .owl-buttons .owl-next {
        left: 116px;
        right: auto;
    }
    #main-left {
        float: none;
        margin-bottom: 40px;
        width: 100%;
    }
    #main-right {
        float: none;
        text-align: center;
        width: 100%;
    }
    #main-right .right-ad,
    #main-right .fb-like-box,
    #top-news .news {
        display: inline-block;
        margin: 0 10px 35px;
        vertical-align: top;
        width: 240px;
    }
    #top-news .news {
        border: none;
        margin-bottom: 16px;
        padding: 0;
    }
    #contact-left {
        margin-right: 3%;
        width: 43%;
    }
    #contact-right {
        width: 54%;
    }
}
@media screen and (max-width: 710px) {
    #home-main {
        background-size: contain;
    }
    #contact-left,
    #contact-right {
        margin-right: 0;
        width: 100%;
    }
    #contact-right #map {
        height: 400px;
    }
}
@media screen and (max-width: 650px) {
    #home-top .titles {
        margin-top: 20px;
    }
    #branches .left,
    #branches .right {
        float: none;
        width: 100%;
    }
    #footer .footer-bottom .fl,
    #footer .footer-bottom .fr {
        float: none;
    }
    #footer .footer-bottom {
        height: auto;
        padding-bottom: 10px;
        text-align: center;
    }
    #footer .footer-bottom p {
        margin-bottom: 12px;
    }
    #footer .privacy {
        margin-left: 0;
    }
}
@media screen and (max-width: 600px) {
    #home-main .info-box {
        padding-top: 40px;
        padding-left: 40px;
    }
    #news-box .news {
        width: 100%;
    }
    #news-box h2 {
        float: none;
    }
    #news-box .news-see-all {
        float: none;
        margin-bottom: 14px;
    }
    #news-box .title-box {
        height: auto;
    }
    #main-right {
        float: none;
        width: 240px;
        margin: 0 auto;
    }
    #main-right .right-ad,
    #main-right .fb-like-box,
    #top-news .news {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    #top-news .news-1 {
        border-top: 1px solid #D2D2D2;
        padding-top: 20px;
    }
}
@media screen and (max-width: 500px) {
    #home-main {
        background-size: cover;
    }
    #home-main .info-box {
        padding-top: 20px;
        padding-left: 0;
    }
    #home-main h2,
    #home-main .info {
        margin-bottom: 10px;
    }
    #home-main .sub-title {
        margin-bottom: 15px;
    }
    #home-main h3 {
        margin-bottom: 15px;
    }
    #home-main .btn-box {
        margin: 25px 0 10px;
    }
    #home-main .social-box div {
        float: none;
    }
    #home-main .facebook {
        margin-left: 0;
    }
    #subscribe-form input[type="text"] {
        width: 50%;
    }
    #awards .year {
        width: 100%;
        margin-bottom: 20px;
    }
    #awards .info {
        width: 100%;
    }
}
@media screen and (max-width: 440px) {
    #subscribe-form input[type="text"] {
        padding: 0 18px;
        width: 40%;
    }
    #subscribe-form input[type="submit"] {
        padding: 0 15px;
    }
}
@media screen and (max-width: 400px) {
    #home-top {
        height: 250px;
    }
    #home-top .titles {
        margin-top: 10px;
    }
    #awards .info p.title,
    #awards .info p.category {
        width: 100%;
    }
}