#page {
    min-width: 0;
}
#header .top-menu,
#header .top-menu .dot,
#header .search,
#header .login,
#header .registration,
#home-gov2 {
    display: none;
}
#header {
    padding-right: 0;
}
#header .logo {
    font-size: 20px;
}
/* burger */
#burger {
    cursor: pointer;
    height: 22px;
    padding: 13px;
    position: absolute;
    top: 16px;
    right: 0;
    width: 34px;
}
#burger span {
    background-color: #FFC001;
    border-radius: 2px;
    height: 4px;
    position: absolute;
    left: 13px;
    width: 34px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
#burger .burger1 {
    top: 13px;
}
#burger .burger2 {
    top: 22px;
}
#burger .burger3 {
    top: 31px;
}
#burger.open .burger1 {
    top: 23px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
#burger.open .burger2 {
    opacity: 0;
}
#burger.open .burger3 {
    top: 23px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
/* end burger */
#header .top-menu {
    background-color: #202020;
    margin-top: 0;
    position: absolute;
    left: 0;
    top: 80px;
    padding: 0 0 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
}
#header .top-menu li {
    display: block;
    float: none;
    height: auto;
    margin: 0;
    min-height: 50px;
    line-height: 50px;
}
#header .top-menu li:first-child,
#header .login-menu {
    border-top: 1px solid #848282;
}
#header .top-menu a {
    color: #ffffff;
    display: block;
    height: 100%;
}
#search-form {
    position: relative;
    top: 0;
    left: 0;
    margin: 5px auto;
    padding: 0 20px;
    max-width: 400px;
    width: auto;
}
#search-form input[type="text"] {
    border-radius: 20px;
    box-sizing: border-box;
    height: 38px;
    margin: 0;
    padding-right: 50px;
    width: 100%;
}
#search-form input[type="submit"] {
    background-position: center center;
    height: 38px;
    position: absolute;
    top: 0;
    right: 20px;
    width: 50px;
}
#account .form-box {
    width: auto;
}
#account .account-buttons > div {
    float: none;
}
#list,
#items,
#brand-ads,
#similar-ads,
#main-left .search-box {
    text-align: center;
}
#main-left .item {
    margin: 0 5px 10px;
}
#main-inner {
    padding-top: 25px;
}
#main-left .logo-box {
    margin-top: -180px;
}
#main-left .main-title {
    float: none;
    margin: 18px 0 0;
    width: auto;
}
#main-left .phone-box,
#main-left .social-pages {
    float: none;
}
#branches #map {
    height: 400px;
}
#com-left .com-media iframe {
    height: 300px;
}
#com-right .country-ind {
    border-left: none;
    padding-left: 0;
}
#contact-form input[type="submit"] {
    margin-bottom: 15px;
}
iframe {
    max-width: 100%;
}